@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400&display=swap');

body {
    font-family: 'Open Sans', Helvetica, sans-serif;
    font-weight: 400;
    font-size: 16px;
    font-style: normal;
    line-height: 1.42;
    color: #fff;
    background-color: #17191C;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0;
    padding: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
}

ul li {
    display: inline-block;
    margin: 0;
    padding: 0;
}

.btn {
    /* display: block; */
    /* position: relative; */
    /* width: 193px;
    height: 53px; */
    background: #FF5500;
    border: 2px solid #FF5500;
    border-radius: 35px;
    font-size: 14px;
    text-align: center;
    font-weight: bold;
    padding: 18px 55px;
    min-width: 100px;
    /* vertical-align: center; */
}

.btn-white {
    background: #fff;
    color: #FF5500;
}

.wrapper {
    width: 100%;
}

.container {
    width: 1140px;
    margin-left: auto;
    margin-right: auto;
}

/* ------------------------------------------------------------------------------------------------ */

.logo {
    display: inline-block;
}

.header .logo {
    margin: 21px 20px 0 0;
}

.menu {
    display: inline-block;
    font-size: 14px;
}

.header .menu {
    position: relative;
    top: -10px;
    left: 190px;
}

.menu__item {
    padding: 26px;
}

.menu__link:hover {
    color: #FF3D00;
}

.contacts {
    display: inline-block;
    font-style: normal;
    text-align: right;
}

.header .contacts {
    float: right;
    margin-top: 25px;
    line-height: 1.32;
}

.contacts>.contacts__phone {
    font-size: 26px;

}

.contacts>.contacts__workhours {
    font-size: 13px;
    color: #FF3D00;
    text-decoration: underline;
}
/* ------------------------------------------------------------------------------------------------ */
.blocks-wrapper1 {
    background-image: url(./images/hero.jpg);
    background-repeat: no-repeat;
    background-position: 0 -100px;
}

.performance {
    padding-top: 71px;
    text-align: center;
}

.performance__title {
    font-size: 72px;
    font-weight: 800;
    text-align: center;
    margin-bottom: 11px;
}

.performance__text {
    font-size: 18px;
    text-align: center;
    margin-bottom: 55px;
}

/* ------------------------------------------------------------------------------------------------ */

.services {
    margin-top: 250px;
}

.services__item {
    /* vertical-align: top; */
    width: 310px;
    /* height: 402px; */
    padding: 32px 22px 65px;
    background: #fff;
    border-radius: 5px;
    border: 5px solid #fff;
}

.services__item:hover {
    border: 5px solid #CCCCCC;
}

.services__list .services__item:nth-of-type(2) {
    margin: 0 19px;
}

.services__list .services__item:nth-of-type(1)>.services__icon {
    width: 84px;
    height: 80px;
    background-image: url(./images/tv.png);
    background-repeat: no-repeat;
}

.services__list .services__item:nth-of-type(2)>.services__icon {
    width: 84px;
    height: 80px;
    background-image: url(./images/clapper.png);
    background-repeat: no-repeat;
}

.services__list .services__item:nth-of-type(3)>.services__icon {
    width: 84px;
    height: 80px;
    background-image: url(./images/film.png);
    background-repeat: no-repeat;
}

.services__name {
    font-size: 32px;
    font-weight: bold;
    color: #000;
    margin: 28px 0 0 -4px;
}

.services__row {
    display: block;
    color: #666;
    margin: 15px 0 0 -4px;
}

.services__col {
    display: inline-block;
}

.services__item .services__col:nth-child(1) {
    width: 35%;
    margin-right: 68px;
}

.services__item .services__col:nth-child(2) {
    width: 40%;
}

.services__number {
    font-weight: 700;
    color: #000;
}

.services__description {
    color: #666;
    width: 306px;
    height: 66px;
    font-size: 14px;
    margin: 25px 0 42px -4px;
}

.services__detail {
    margin: 25px 0 0 -4px;
}
/* ------------------------------------------------------------------------------------------------ */
.blocks-wrapper2 {
    background-image: url(./images/bottom-pic.jpg);
    background-position: 0 250px;
    background-repeat: no-repeat;
}

.news {
    margin-top: 179px;
}

.news__header {
    font-size: 36px;
    font-weight: 800;
    margin: 0;
}

.news__list {
    margin-top: 49px;
}

.news__list .news__item:nth-child(1) {
    background-image: url(./images/camera.jpg);
    margin-right: 21px;
}

.news__list .news__item:nth-child(2) {
    background-image: url(./images/wedding.jpg);
}

.info-card {
    width: 493px;
    height: 342px;
    padding: 26px 32px;
}

.info-card__date {
    font-size: 14px;
    margin-top: 228px;
}

.info-card__title {
    font-size: 24px;
    margin-top: 15px;
}

.info-card__description {
    margin-top: -20px;
}

.paginator {
    display: inline-block;
    margin: 50px 0 0 381px;
}

.paginator__display {
    display: inline-block;
    vertical-align: middle;
}

.paginator__list {
    display: inline-block;
    vertical-align: middle;
    /* transform: translate(0, 15%); */
    margin: 0 -13px 0 21px;
}

.paginator__item {
    position: relative;
    font-weight: 700;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin: 0 -1px 0 0;
}

.paginator__item-active {
    background: #FF5500;
}

.paginator__item:hover {
    background: #FF5500;
}

.paginator__link {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
/* ------------------------------------------------------------------------------------------------ */
.about {
    margin-top: 143px;
}

.about__picture {
    width: 490px;
    height: 505px;
    background-image: url(./images/cameraman.jpg);
    background-repeat: no-repeat;
}

.about__content {
    width: 623px;
    border-radius: 5px;
    background: #fff;
    padding: 70px 81px 81px;
    float: right;
    margin-top: -409px;
}

.about__header {
    font-size: 36px;
    font-weight: 800;
    color: #000;
    margin: 0 0 40px;
}

.about__description {
    width: 500px;
    line-height: 1.6;
    color: #000;
    margin-bottom: 62px;
}

.about__detail {
    padding: 17px 38px;
}
/* ------------------------------------------------------------------------------------------------ */
.footer {
    margin-top: 100px;
}

.footer>.container {
    border-top: 1px solid rgb(37, 37, 37);
    padding: 40px 0 60px;
}

.footer .menu {
    position: relative;
    top: -10px;
    left: 98px;
}

.social-networks {
    display: inline-block;
    margin-left: 172px;
}

.social-networks__item {
    margin: 0 4px;
}

.social-networks__link {
    display: inline-block;
    width: 36px;
    height: 36px;
}

.social-networks__list .social-networks__item:nth-child(1)>.social-networks__link {
    background-image: url(./images/t.png);
}

.social-networks__list .social-networks__item:nth-child(1)>.social-networks__link:hover {
    background-image: url(./images/t2.png);
}

.social-networks__list .social-networks__item:nth-child(2)>.social-networks__link {
    background-image: url(./images/vk.png);
}

.social-networks__list .social-networks__item:nth-child(2)>.social-networks__link:hover {
    background-image: url(./images/vk2.png);
}

.social-networks__list .social-networks__item:nth-child(3)>.social-networks__link {
    background-image: url(./images/fb1.png);
}

.social-networks__list .social-networks__item:nth-child(3)>.social-networks__link:hover {
    background-image: url(./images/fb2.png);
}

.social-networks__list .social-networks__item:nth-child(4)>.social-networks__link {
    background-image: url(./images/in.png);
}

.social-networks__list .social-networks__item:nth-child(4)>.social-networks__link:hover {
    background-image: url(./images/in2.png);
}

.footer .contacts {
    float: right;
    margin-top: 6px;
}

.contacts__text {
    font-size: 11px;
    color: #9A9A9A;
}