.about {
    margin-top: 143px;
}

.about__picture {
    width: 490px;
    height: 505px;
    background-image: url(../../images/cameraman.jpg);
    background-repeat: no-repeat;
}

.about__content {
    width: 785px;
    border-radius: 5px;
    background: #fff;
    padding: 70px 81px 81px;
    float: right;
    margin-top: -409px;
}

.about__header {
    font-size: 36px;
    font-weight: 800;
    color: #000;
    margin: 0 0 40px;
}

.about__description {
    width: 500px;
    line-height: 1.6;
    color: #000;
    margin-bottom: 62px;
}

.about__detail {
    padding: 17px 38px;
}