.btn {
    background: #FF5500;
    border: 2px solid #FF5500;
    border-radius: 35px;
    font-size: 14px;
    text-align: center;
    font-weight: bold;
    padding: 18px 55px;
    min-width: 100px;
}

.btn-white {
    background: #fff;
    color: #FF5500;
}
