
.contacts {
    display: inline-flex;
    flex-direction: column;
    font-style: normal;
    text-align: right;
}

.contacts>.contacts__phone {
    font-size: 26px;
    line-height: 1;
}

.contacts__text {
    font-size: 11px;
    color: #9A9A9A;
}