.footer>.container {
    border-top: 1px solid rgb(37, 37, 37);
    padding: 27px 0;
}

.footer .menu {
    margin-top: 4px;
    margin-left: 22px;
}

.footer .contacts {
    float: right;
    margin-top: 6px;
}
