.footer {
    margin-top: 100px;
}

.footer>.container {
    border-top: 1px solid rgb(37, 37, 37);
    padding: 40px 0 60px;
}

.footer * {
    vertical-align: top;
}

.footer .menu {
    margin-left: 97px;
}

.footer .menu__item {
    padding: 23px 26px 26px;
}

.footer .contacts {
    float: right;
    margin-top: 6px;
}
