.header * {
    vertical-align: top;
}

.header .logo {
    margin: 21px 20px 0 0;
}

.header .menu {
    margin: 17px 0 0 189px;
}

.header .contacts {
    float: right;
    margin-top: 25px;
    line-height: 1.32;
}