.hello-wrapper {
    background: url(../../images/hello-bg.jpg) no-repeat;
    min-height: 960px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hello {
    background: url(../../images/rec.png) no-repeat;
    width: 1128px;
    height: 643px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hello__content {
    animation: rotateIn 0.9s;
    animation-fill-mode: forwards;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hello__logo {
    margin-top: 40px;
}

.hello__btn {
    display: inline-block;
    margin-top: 35px;
}

@keyframes rotateIn {
    from {
        transform: scale(0.1) rotate(30deg);
    }

    50% {
        transform: rotate(-10deg)
    }

    75% {
        transform: rotate(3deg)
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}