
.news {
    margin-top: 178px;
}

.news__header {
    font-size: 36px;
    font-weight: 800;
    margin: 0;
}

.news__list {
    margin-top: 50px;
    justify-content: space-between;
    align-items: flex-start;
}

.news__cover {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.news .paginator {
    margin-top: 55px;
}