
.paginator {
    display: flex;
    justify-content: center;
    
}

.paginator__display {
    margin-right: 25px;
    margin-left: 10px;
    margin-top: 4px;
}

.paginator__list {
    width: 236px;
    justify-content: space-between;
}

.paginator__item {
    cursor: pointer;
    position: relative;
    font-weight: 700;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    transition: background-color 0.2s;
}

.paginator__item--active {
    background: #FF5500;
}

.paginator__item:hover {
    background: #FF5500;
}

.paginator__link {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.paginator--black--theme {
    color: #000000;
}

.paginator--black--theme .paginator__item--active {
    color: #fff;
}

.paginator--black--theme .paginator__item:hover {
    color: #fff;
}