.partners {
    color: #000;
    background: #F4F5F5;
    padding-top: 84px;
    padding-bottom: 84px;
}

.partners__title {
    font-size: 48px;
    font-weight: 700;
}

.partners__list {
    flex-wrap: wrap;
    margin-top: 50px;
}

.partners__item {
    margin-left: 60px;
    
}

.partners__item:nth-child(4n+1) {
    margin-left: 0px;
}

.partners__link {
    text-decoration: none;
    display: flex;
    width: 240px;
    height: 125px;
    justify-content: center;
    align-items: center;
}