.performance>.container--flex {
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.performance {
    padding-top: 137px;
}

.performance__title, .performance__text {
    text-align: center;
    width: 70%;
    /* width: 776px; */
}

.performance__title {
    font-size: 72px;
    font-weight: 800;
}

.performance__text {
    font-size: 18px;
    margin-top: 11px;
}

.performance__detail {
    margin-top: 38px;
}
