
.performance {
    padding-top: 140px;
    text-align: center;
}

.performance__title {
    font-size: 72px;
    font-weight: 800;
    text-align: center;
    margin-bottom: 11px;
}

.performance__text {
    font-size: 18px;
    text-align: center;
    margin-bottom: 55px;
}
