
.services {
    margin-top: 250px;
}

.services__item {
    /* vertical-align: top; */
    width: 310px;
    /* height: 402px; */
    padding: 32px 22px 65px;
    background: #fff;
    border-radius: 5px;
    border: 5px solid #fff;
}

.services__item:hover {
    border: 5px solid #CCCCCC;
}

.services__list .services__item:nth-of-type(2) {
    margin: 0 19px;
}

.services__list .services__item:nth-of-type(1)>.services__icon {
    width: 84px;
    height: 80px;
    background-image: url(../../images/tv.png);
    background-repeat: no-repeat;
}

.services__list .services__item:nth-of-type(2)>.services__icon {
    width: 84px;
    height: 80px;
    background-image: url(../../images/clapper.png);
    background-repeat: no-repeat;
}

.services__list .services__item:nth-of-type(3)>.services__icon {
    width: 84px;
    height: 80px;
    background-image: url(../../images/film.png);
    background-repeat: no-repeat;
}

.services__name {
    font-size: 32px;
    font-weight: bold;
    color: #000;
    margin: 28px 0 0 -4px;
}

.services__row {
    display: block;
    color: #666;
    margin: 15px 0 0 -4px;
}

.services__col {
    display: inline-block;
}

.services__item .services__col:nth-child(1) {
    width: 35%;
    margin-right: 68px;
}

.services__item .services__col:nth-child(2) {
    width: 40%;
}

.services__number {
    font-weight: 700;
    color: #000;
}

.services__description {
    color: #666;
    width: 306px;
    font-size: 14px;
    margin: 25px 0 50px -4px;
}

.services__detail {
    margin: 25px 0 0 -4px;
}