
.services {
    margin-top: 232px;
}

.services__list {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.services__item {
    width: 362px;
    padding: 32px 34px 65px 22px;
    background: #fff;
    border-radius: 5px;
    border: 5px solid #fff;
}

.services__item:hover {
    border: 5px solid #CCCCCC;
}

.services__list .services__item:nth-of-type(1)>.services__icon {
    width: 84px;
    height: 80px;
    background-image: url(../../images/tv.png);
    background-repeat: no-repeat;
}

.services__list .services__item:nth-of-type(2)>.services__icon {
    width: 84px;
    height: 80px;
    background-image: url(../../images/clapper.png);
    background-repeat: no-repeat;
}

.services__list .services__item:nth-of-type(3)>.services__icon {
    width: 84px;
    height: 80px;
    background-image: url(../../images/film.png);
    background-repeat: no-repeat;
}

.services__name {
    font-size: 32px;
    font-weight: bold;
    color: #000;
    margin-top: 25px;
}

.services__row {
    display: flex;
    color: #666;
    margin-top: 15px;
    align-items: center;
    justify-content: space-between;
}

.services__item .services__col:nth-child(1) {
    width: 112px;
}

.services__item .services__col:nth-child(2) {
    width: 123px;
}

.services__number {
    font-weight: 700;
    color: #000;
}

.services__description {
    color: #666;
    width: 306px;
    font-size: 14px;
    margin-top: 25px;
    margin-bottom: 50px;
}