
.social-networks__list {
    width: 174px;
    justify-content: space-between;
}

.social-networks__link {
    display: block;
    background: url(../../images/social-networks.png);
    width: 36px;
    height: 36px;
}

.social-networks__list .social-networks__item:nth-child(1)>.social-networks__link {
    background-position: -234px -10px;
}

.social-networks__list .social-networks__item:nth-child(1)>.social-networks__link:hover {
    background-position: -290px -10px;
}

.social-networks__list .social-networks__item:nth-child(2)>.social-networks__link {
    background-position: -346px -10px;
}

.social-networks__list .social-networks__item:nth-child(2)>.social-networks__link:hover {
    background-position: -402px -10px;
}

.social-networks__list .social-networks__item:nth-child(3)>.social-networks__link {
    background-position: -10px -10px;
}

.social-networks__list .social-networks__item:nth-child(3)>.social-networks__link:hover {
    background-position: -66px -10px;
}

.social-networks__list .social-networks__item:nth-child(4)>.social-networks__link {
    background-position: -122px -10px;
}

.social-networks__list .social-networks__item:nth-child(4)>.social-networks__link:hover {
    background-position: -178px -10px;
}
