
.social-networks__list {
    width: 174px;
    justify-content: space-between;
}

.social-networks__link {
    display: block;
    width: 36px;
    height: 36px;
}

.social-networks__list .social-networks__item:nth-child(1)>.social-networks__link {
    background-image: url(../../images/t.png);
}

.social-networks__list .social-networks__item:nth-child(1)>.social-networks__link:hover {
    background-image: url(../../images/t2.png);
}

.social-networks__list .social-networks__item:nth-child(2)>.social-networks__link {
    background-image: url(../../images/vk.png);
}

.social-networks__list .social-networks__item:nth-child(2)>.social-networks__link:hover {
    background-image: url(../../images/vk2.png);
}

.social-networks__list .social-networks__item:nth-child(3)>.social-networks__link {
    background-image: url(../../images/fb1.png);
}

.social-networks__list .social-networks__item:nth-child(3)>.social-networks__link:hover {
    background-image: url(../../images/fb2.png);
}

.social-networks__list .social-networks__item:nth-child(4)>.social-networks__link {
    background-image: url(../../images/in.png);
}

.social-networks__list .social-networks__item:nth-child(4)>.social-networks__link:hover {
    background-image: url(../../images/in2.png);
}
