.tag {
    color: #303030;
    font-size: 13px;
    line-height: 18px;
    padding: 10px 25px;
    background: #E7E7E7;
    border-radius: 35px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.tag--pink {
    background: #F2D4C9;
}